<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1>Pokemones a mostrar</h1>
    <div class="container">
      
      <ul id="pokelist">
        
      </ul>

      <div class="pokedetail">
        <span>?</span>
      </div>

    </div>
    <script src="js/index.js"></script>
  </body>
</html>
